@model IEnumerable<MVCGarage.Models.ParkingSpot>

@{
    ViewBag.Title = "Index";
}
<div class="header jumbotron">
    <h1>Parking spots</h1>
    <hr />
    <p>This is the list of available parking spots</p>
</div>

<p style="font-size: 2em; text-align: center;">
    @Html.ActionLink("Create a new parking spot", "Create")
</p>

<div class="index-table">
    <table>
        <tr>
            <th>
                @{string htmlName = @Html.DisplayNameFor(model => model.Label).ToHtmlString();}
                @Html.ActionLink(htmlName, "Index", new { sortOrder = ViewBag.LabelSortParam })
            </th>
            <th>
                @Html.ActionLink("Available?", "Index", new { sortOrder = ViewBag.AvailableSortParam })
            </th>
            <th>
                @{htmlName = @Html.DisplayNameFor(model => model.VehicleType).ToHtmlString();}
                @Html.ActionLink(htmlName, "Index", new { sortOrder = ViewBag.VehicleTypeSortParam })
            </th>
            <th>
                @{htmlName = @Html.DisplayNameFor(model => model.Fee).ToHtmlString();}
                @Html.ActionLink(htmlName, "Index", new { sortOrder = ViewBag.FeeSortParam })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @if (item.VehicleID == null)
                    {
                        @Html.DisplayName("Yes")
                    }
                    else
                    {
                        @Html.DisplayName("No")
                    }
                </td>
                <td>
                    @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(item.VehicleType))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)/min.
                </td>
                <td>
                    @if (item.VehicleID == null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        <text> | </text>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (item.VehicleID == null)
                    {
                        <text> | @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </text>
                    }
                </td>
            </tr>
        }

    </table>
</div>
