@model MVCGarage.ViewModels.Garage.SelectAVehicleVM

@{
    ViewBag.Title = "Select A Vehicle";
}
<div class="header jumbotron">
    <h1>Please select a vehicle to @ViewBag.ActionName</h1>
    <hr />
    <p>This is where you select the vehicle you would like to @ViewBag.ActionName</p>
</div>

<p style="font-size: 3em; text-align: center; color: white;">
    @Html.ActionLink("Add a new vehicle",
                     "Create",
                     "Vehicles",
                     new MVCGarage.ViewModels.Vehicles.CreateVehicleVM
                     {
                         OriginActionName = "CheckInVehicle",
                         OriginControllerName = "Garage",
                     },
                     null)
</p>

@using (@Html.BeginForm())
{
    @Html.Partial("_SelectAVehiclePartial", Model)
}
