@model MVCGarage.ViewModels.Garage.SearchResultsVM

<div class="jumbotron" style="color: white;">
    <div class="index-table">
        <h1>Found Vehicle</h1>
        <hr />
        <p>Vehicle search results</p>
        @if (Model.FoundVehicle == null)
        {
            <p>No Vehicle Registration Plate is matching '@Model.SearchedValue'.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.RegistrationPlate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.VehicleType)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.Owner)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FoundVehicle.RegistrationPlate)
                    </td>
                    <td>
                        @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(Model.FoundVehicle.VehicleType))
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FoundVehicle.Owner)
                    </td>
                </tr>
            </table>
        }

        <h1>Found Parking Spot</h1>
        <hr />
        @if (Model.FoundParkingSpot == null)
        {
            <p>No Parking Spot Identifiant is matching '@Model.SearchedValue'.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.Label)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.CheckInTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.Fee)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FoundParkingSpot.Label)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.FoundParkingSpot.CheckInTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FoundParkingSpot.Fee)
                    </td>
                </tr>
            </table>
        }
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
