@model MVCGarage.ViewModels.Garage.SearchResultsVM

<div class="jumbotron" style="color: white;">
    <div class="index-table">
        <h1>Found Vehicle</h1>
        <hr />
        <p>Vehicle search results</p>
        @if (Model.FoundVehicle == null)
        {
            <p>No Vehicle Registration Plate is matching '@Model.SearchedValue'.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.RegistrationPlate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.Owner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundVehicle.VehicleType)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FoundVehicle.RegistrationPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FoundVehicle.Owner)
                    </td>
                    <td>
                        @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(Model.FoundVehicle.VehicleType))
                    </td>
                </tr>
            </table>
        }

        <h1>Found Parking Spot</h1>
        <hr />
        @if (Model.FoundParkingSpot.ParkingSpot == null)
        {
            <p>No Parking Spot Identifiant is matching '@Model.SearchedValue'.</p>
        }
        else
        {
            bool available = false;
            bool parked = false;
            bool booked = false;

            if (Model.FoundParkingSpot.Vehicle == null)
            {
                available = true;
            }
            else if (Model.FoundParkingSpot.Vehicle.ParkingSpotID == null)
            {
                booked = true;
            }
            else
            {
                parked = true;
            }

            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.ParkingSpot.Label)
                    </th>
                    <th>
                        @Html.DisplayName("Availability")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.ParkingSpot.CheckInTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FoundParkingSpot.ParkingSpot.Fee)
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FoundParkingSpot.ParkingSpot.Label)
                    </td>
                    <td>
                        @if (available)
                        {
                            @Html.DisplayName("Available")
                        }
                        else if (booked)
                        {
                            @Html.DisplayName(string.Format("Booked for {0} ({1})",
                                                            Model.FoundParkingSpot.Vehicle.RegistrationPlate,
                                                            Model.FoundParkingSpot.Vehicle.Owner))
                        }
                        else if (parked)
                        {
                            @Html.DisplayName(string.Format("Taken by {0} ({1})",
                                                            Model.FoundParkingSpot.Vehicle.RegistrationPlate,
                                                            Model.FoundParkingSpot.Vehicle.Owner))
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FoundParkingSpot.ParkingSpot.CheckInTime)
                    </td>
                    <td>
                        @if (available || parked)
                        {
                            @Model.FoundParkingSpot.ParkingSpot.DisplayFee();
                        }
                        else if (booked)
                        {
                            @Model.FoundParkingSpot.ParkingSpot.DisplayMonthlyFee();
                        }
                    </td>
                </tr>
            </table>
        }
    </div>

    
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>
