@model MVCGarage.ViewModels.Garage.SelectAParkingSpotVM

@{
    ViewBag.Title = "Select A Parking Spot";
}
<div class="header jumbotron">
    <h1>Select a parking spot</h1>
    <hr />
    <p>This is where you select a parking spot</p>
</div>

<div class="about-body-text" style="color: white; margin-top: 10em; text-align: center;">
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SelectedVehicle.RegistrationPlate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SelectedVehicle.Owner)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.SelectedVehicle.VehicleType)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.SelectedVehicle.RegistrationPlate)
                </td>

                <td>
                    @Html.DisplayFor(model => model.SelectedVehicle.Owner)
                </td>

                <td>
                    @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(Model.SelectedVehicle.VehicleType))
                </td>
            </tr>
        </table>
    </div>
</div>

@using (@Html.BeginForm(Model.FollowingActionName, Model.FollowingControllerName, FormMethod.Post))
{
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @* Blank for the radiobutton *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpots.First().Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpots.First().Fee)
                </th>
            </tr>

            @foreach (var item in Model.ParkingSpots)
            {
                <tr>
                    <td>
                        @if (Model.ParkingSpotID == item.ID)
                        {
                            @Html.RadioButtonFor(modelItem => Model.ParkingSpotID, item.ID, new { Checked = "checked" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(modelItem => Model.ParkingSpotID, item.ID)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @if (Model.CheckIn)
                        {
                            @Html.DisplayFor(modelItem => item.Fee)<text>/min.</text>
                        }
                        else
                        {
                            @Html.DisplayName(string.Format("{0:N2}", item.MonthlyFee()))<text>/month</text>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

    <div>
        <input name="submit-button"
               type="submit"
               style="font-weight:bold;margin:10px 0 10px 0;"
               value="Choose the selected Parking Spot"
               class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index", "Home")
        @Html.HiddenFor(model => Model.VehicleID)
    </div>

}